<div class="control-group comprovantes">
    <label for="comprovantes" class="control-label">Comprovantes</label>
    <div class="controls">
        <input id="comprovantes" type="file" multiple="multiple" style="display: none;">
        <ul class="unstyled">
            <!-- Se existem comprovantes cadastradas para a atividade, lista todas-->
            <% if (!_.isEmpty(atuais)) { %>
                <% _.each(atuais, function (c) { %>
                    <li class="atual">
                        <a href="#"><i class="icon-file icon-large"></i><%= c.nome %></a>
                        <i class="icon-remove invisivel pull-right" rel="tooltip"
                            title="Excluir arquivo" data-placement="right"
                            data-id="<%= c.id %>"></i>
                    </li>
                <% }) %>
            <% } %>
            <!-- Se existirem comprovantes selecionados , lista todos -->
            <% if (!_.isEmpty(selecionados)) { %>
                <%_.each(selecionados, function(file) {%>
                    <li class="selecionado"><i class="icon-file icon-large"></i><%= file.name %>
                        <i class="icon-remove invisivel pull-right" rel="tooltip"
                            title="Excluir arquivo" data-placement="right"
                            data-name="<%= file.name %>"></i>
                    </li>
                <% }) %>
            <% }%>
                <li><i class="icon-plus-sign icon-large" id="addComprovante"
                    rel="tooltip" title="Adicionar arquivo" data-placement="right"></i></li>
        </ul>
    </div>
</div>