<ul class="breadcrumb">
  <li><a href="#/inicio">Início</a> <span class="divider">&gt;</span></li>
  <li><a href="#/atividades">Atividades</a> <span class="divider">&gt;</span></li></li>
  <li class="active"><% (editar) ? print("Editar") : print("Nova") %> Atividade</li>
</ul>

<div class="row-fluid">
  <div class="span6 offset3">
      <div class="page-header">
        <h2 align="center"><% (editar) ? print("Editar") : print("Nova") %> Atividade</h2>
      </div>

      <!-- Alerts -->
      <span id="err"></span>

      <div class="form-horizontal">

        <!-- Categorias -->
        <span id="categorias-block"></span>

        <!-- Tipos -->
        <span id="tipos-block"></span>

        <!-- Datas -->
        <span id="dates-controls-block">
          <div class="control-group">
            <label class="control-label" for="dataInicio">Inicio</label>
            <div class="controls">
              <input class="span4 datepicker" type="text" id="dataInicio" placeholder="dd/mm/aaaa"
                value="<% if (atual && atual.inicio) print(atual.inicio)%>"
                data-date-format="dd/mm/yyyy" data-date-weekstart="1" data-date-autoclose="true"
                data-date-today-highlight="true" data-date-language="pt-BR">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="dataFim">Fim</label>
            <div class="controls">
              <input class="span4 datepicker" type="text" id="dataFim" placeholder="dd/mm/aaaa"
                value="<% if (atual && atual.fim) print(atual.fim)%>"
                data-date-format="dd/mm/yyyy" data-date-weekstart="1" data-date-autoclose="true"
                data-date-today-highlight="true" data-date-language="pt-BR">
            </div>
          </div>
          <div class="controls">
            <a href="#/atividades"class="btn">Cancelar</a>
            <a class="btn btn-primary" id="<% (editar) ? print("salvar") : print("cadastrar") %>"><% (editar) ? print("Salvar") : print("Cadastrar") %></a>
          </div>
        </span>

      </div>
    </div>
</div>