/* bloco affix */
div[class="nav-bt-tabs affix"] {
	width: 970px;
	background-color: white;
}

/* Categorias de atividade */
ul[id="items"] {
	margin-bottom: 0;
	border-bottom: 3px solid #D3D3D3;
}

div[class="alert alert-block span5 offset2"] {
	margin-top: 10px;
}

div[class="alert alert-error alert-block span5 offset2"] {
	margin-top: 10px;
}

.invisivel {
	display: none;
}

/* div[id="tabela-atividades-wrapper"] {} */