<div class="row">
  <div class="span6 offset2">

    <div class="page-header">
      <h2 align="center">Nova Atividade</h2>
    </div>

    <div class="form-horizontal">


          <!-- Categorias -->
          <span id="categorias-block"></span>

          <!-- Tipos -->
          <span id="tipos-block"></span>



      <div class="control-group">
        <label class="control-label" for="dataInicio">Inicio</label>
        <div class="controls">
          <input type="text" id="dataInicio" placeholder="10/10/2010">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="dataInicio">Fim</label>
        <div class="controls">
          <input type="text" id="dataFim" placeholder="10/10/2010">
        </div>
      </div>
      <div class="controls">
        <a href="#/atividades/<%= categoria %>"class="btn">Cancelar</a>
        <a class="btn btn-primary" id="novaAtividade">Ok</a>
      </div>
    </div>

  </div>
</div>
