<td><%= item %></td>
<td><%= valorMult %></td>
<td><%= descricao %></td>
<td><%= 42 %></td>
<td><%= inicio %> - <%= fim %></td>
<td>
    <ul class="unstyled">
    <li><a>
        <i class="icon-remove icon-large invisivel"
            title="Excluir atividade" rel="tooltip" data-placement="right"></i>
    </a></li>
    <li><a href="#/atividades/<%= id %>/editar">
        <i class="icon-edit icon-large invisivel"
            title="Editar atividade" rel="tooltip" data-placement="right"></i>
    </a></li>
    <ul>
</td>