<td><%= item %></td>
<td><%= valorMult %></td>
<td class="no-center" ><%= descricao %></td>
<td><%= pontuacao %></td>
<td><%= inicio %> - <%= fim %></td>
<td>
    <ul class="unstyled">
    <li>
        <i class="icon-remove icon-large"
            title="Excluir atividade" rel="tooltip" data-placement="right"
            data-id-atividade="<%= id %>"></i>
    </li>
    <li><a href="#/atividades/<%= id %>/editar">
        <i class="icon-edit icon-large"
            title="Editar atividade" rel="tooltip" data-placement="right"></i>
    </a></li>
    <ul>
</td>