<ul class="breadcrumb">
  <li><a href="#/inicio">Início</a> <span class="divider">&gt;</span></li>
  <li class="active">Atividades</li>
</ul>

<div class="row">
  <div class="btn-group pull-right">
    <a href="#/atividades/cadastrar"
      title="Cadastrar atividade" rel="tooltip" data-placement="top" class="btn">
      <i class="icon-plus icon-large"></i>
    </a>
  </div>
</div>

<ul id="categorias-block" class="nav nav-tabs"></ul>

<span id="err"></span>

<table id="tabela-block" class="table table-hover"></table>