<ul class="breadcrumb">
  <li><a href="#/inicio">Início</a> <span class="divider">&gt;</span></li>
  <li class="active">Atividades</li>
</ul>

<div class="row-fluid toolbar">
  <div class="btn-group pull-right">
    <a href="#/atividades/cadastrar"
      title="Nova atividade" rel="tooltip" data-placement="top" class="btn">
      <i class="icon-plus icon-large"></i>
    </a>
  </div>
</div>

<div class="row-fluid">
    <div class="span2">
        <ul id="categorias-block" class="nav nav-tabs nav-stacked"></ul>
    </div>
    <div class="span10">
        <span id="err"></span>
        <table id="tabela-block" class="table table-hover"></table>
    </div>
</div>