<ul class="breadcrumb">
  <li><a href="#/inicio">Início</a> <span class="divider">&gt;</span></li>
  <li class="active">Atividades</li>
</ul>

<div class="row">
  <div class="btn-group pull-right">
    <button data-original-title="Nova atividade" rel="tooltip" data-placement="top" class="btn">
      <i class="icon-plus"></i>
    </button>
  </div>
</div>

<ul id="categorias" class="nav nav-tabs">

  <% _.each(categorias.slice(), function(c) {

    var cNome = c.get("nome"); %>

    <li <% if (cNome.toLowerCase() === selecionada.toLowerCase()) { print('class="active"'); } %> >
      <a href="#/atividades/<%= cNome.toLowerCase() %>"> <%= cNome %> </a>
    </li>

  <% });%>

</ul>