<ul class="breadcrumb">
    <li><a href="#/inicio">Início</a> <span class="divider">&gt;</span></li>
    <li class="active">Relatório</li>
</ul>
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="page-header">
            <h2 align="center">Gerar Relatório</h2>
        </div>
        <span class="err"></span>
        <div class="form-horizontal">
            <div class="control-group">
                <label for="dataInicio" class="control-label">Início</label>
                <div class="controls"><input type="date" id="dataInicio" class="span4" placeholder="dd/mm/aaaa"></div>
            </div>
            <div class="control-group">
                <label for="dataFim" class="control-label">Fim</label>
                <div class="controls"><input type="date" id="dataFim" class="span4" placeholder="dd/mm/aaaa"></div>
            </div>
            <div class="control-group">
                <label for="classe" class="control-label">Classe</label>
                <div class="controls"><input type="text" id="classe" class="span4"></div>
            </div>
            <div class="control-group">
                <label for="nivel" class="control-label">Nível</label>
                <div class="controls"><input type="text" id="nivel" class="span4"></div>
            </div>
            <div class="controls"><button class="btn btn-primary">Gerar Relatório</button></div>
        </div>
    </div>
</div>